// COLORS
$white: white;
// GLOBAL
* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
// LAYOUT OVERRIDE
.ant-layout {
    background: $white;
    
    .ant-layout-header {
        background: $white;
        padding: 0;
        width: 100%;
        box-shadow: rgb(235, 235, 235) 0px 5px 10px;
        
        .ant-layout-header-body {
            width: 1000px;
            margin: 0 auto;
        }

        .ant-menu {
            border-bottom: 0px solid;
        }

        .ant-menu-item {
            margin-top: -2px;
        }
    }
    .ant-layout-footer {
        background: $white;
    }
}

.ant-btn-primary {
    background: #FF7200;
    border-color: #FF7200;

    &:hover, &:focus {
        background: #F79C60;
        border-color: #F79C60;
    }
}

.ant-menu-submenu-selected {
    color: #FF7200 !important;
    border-bottom: 2px solid #FF7200 !important;
}

.giro-color {
    background: #3662b455;
}

.cessao-color {
    background: #45b35455;
}

.convenio-color {
    background: #9e4e8a55;
}